<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>so.console.mochi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>so.console.mochi</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MORALIS_API_KEY</key>
	<string>$(MORALIS_API_KEY)</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>Sora-Bold.ttf</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need access your photo library to set the avatar</string>
</dict>
</plist>
